html{
    background-color: #f2f2f2;
}
body{
    margin: auto;
    max-width: 50em;
}
#rmpg{
    font-size: 2em;
    font-family: 'Roboto', sans-serif;
    margin: auto;
    margin-top: 35vh;
    text-align: center;
}
#frontlinkspan{
    margin: auto;
    margin-top: 1em;
    text-align: center;
}
#frontlinks{
    font-size: 1em;
    font-family: 'Roboto', sans-serif;
    text-decoration: underline;
    color: black;
    margin: 1em;
}
/*roster-discord*/
#head{
    font-size: 2em;
    font-family: 'Roboto', sans-serif;
    margin: auto;
    text-align: center;
}
#homelinkspan{
    margin: auto;
    text-align: center;
}
#homelink a{
    font-size: 1em;
    font-family: 'Roboto', sans-serif;
    text-decoration: underline;
    color: black;
    margin: 1em;
}
iframe{
    width: 100%;
    height: 100vh;
    margin: auto;
    margin-top: 1em;
    margin-bottom: 1em;
}