/*-------------------*/
/*-content+background*/
/*-------------------*/

body{
    margin: auto;
    background-image: url(background3.jpg);
    background-size: cover;
    height: 100%;
    width: 100%;
    overflow-y: scroll;
}

#contentcontainer{
    margin: 0 auto;
    padding: 0 auto;
    height: 100%;
    width: 100%;
    background-color: rgba(240, 240, 240, .85)
}

/*-------------------*/
/*-----frontpage-----*/
/*-------------------*/

#rmpg{
    font-size: 2em;
    font-family: 'Roboto', sans-serif;
    margin: auto;
    padding-top: 35vh;
    text-align: center;
}

#frontlinkspan{
    margin: auto;
    margin-top: 1em;
    text-align: center;
}

#frontlinks{
    font-size: 1em;
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
    color: black;
    margin: 1em;
}

/*-------------------*/
/*----link effect----*/
/*-------------------*/

.cl-effect-1 a::before,
.cl-effect-1 a::after {
	display: inline-block;
	opacity: 0;
	-webkit-transition: -webkit-transform 0.3s, opacity 0.2s;
	-moz-transition: -moz-transform 0.3s, opacity 0.2s;
	transition: transform 0.3s, opacity 0.2s;
}

.cl-effect-1 a::before {
    margin-right: .3em;
	content: '[';
	-webkit-transform: translateX(20px);
	-moz-transform: translateX(20px);
	transform: translateX(20px);
}

.cl-effect-1 a::after {
    margin-left: .3em;
	content: ']';
	-webkit-transform: translateX(-20px);
	-moz-transform: translateX(-20px);
	transform: translateX(-20px);
}

.cl-effect-1 a:hover::before,
.cl-effect-1 a:hover::after,
.cl-effect-1 a:focus::before,
.cl-effect-1 a:focus::after {
	opacity: 1;
	-webkit-transform: translateX(0px);
	-moz-transform: translateX(0px);
	transform: translateX(0px);
}

/*-------------------*/
/*-------table-------*/
/*-------------------*/

#roster {
    text-align: center;
    width:80%;
    border: 1px solid black;
    margin:auto;
    border-collapse: collapse;
}

th p, td p{
    font-size: 1em;
    font-family: 'Roboto', sans-serif;
    margin: auto;
    margin-top: 1em;
    margin-bottom: 1em;
}

th, td {
    border-bottom: 1px solid black;
}

/*-------------------*/
/*------discord------*/
/*-------------------*/

iframe{
    display: block;
    margin: auto;
    width: 80%;
    height: 50vh;
}