html{
    background-color: #f2f2f2;
}
body{
    margin: auto;
    max-width: 50em;
}
/*-------------------*/
/*-----frontpage-----*/
/*-------------------*/
#rmpg{
    font-size: 2em;
    font-family: 'Roboto', sans-serif;
    margin: auto;
    margin-top: 35vh;
    text-align: center;
}
#frontlinkspan{
    margin: auto;
    margin-top: 1em;
    text-align: center;
}
#frontlinks{
    font-size: 1em;
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
    color: black;
    margin: 1em;
}
/*-------------------*/
/*--roster--discord--*/
/*-------------------*/
#head{
    font-size: 2em;
    font-family: 'Roboto', sans-serif;
    margin: auto;
    text-align: center;
}
#homelinkspan{
    margin: auto;
    text-align: center;
}
#homelink a{
    font-size: 1em;
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
    color: black;
    margin: auto;
}
iframe{
    width: 100%;
    height: 100vh;
    margin: auto;
    margin-top: 1em;
    margin-bottom: 1em;
}
/*-------------------*/
/*----link effect----*/
/*-------------------*/
.cl-effect-1 a::before,
.cl-effect-1 a::after {
	display: inline-block;
	opacity: 0;
	-webkit-transition: -webkit-transform 0.3s, opacity 0.2s;
	-moz-transition: -moz-transform 0.3s, opacity 0.2s;
	transition: transform 0.3s, opacity 0.2s;
}

.cl-effect-1 a::before {
    margin-right: .3em;
	content: '[';
	-webkit-transform: translateX(20px);
	-moz-transform: translateX(20px);
	transform: translateX(20px);
}

.cl-effect-1 a::after {
    margin-left: .3em;
	content: ']';
	-webkit-transform: translateX(-20px);
	-moz-transform: translateX(-20px);
	transform: translateX(-20px);
}

.cl-effect-1 a:hover::before,
.cl-effect-1 a:hover::after,
.cl-effect-1 a:focus::before,
.cl-effect-1 a:focus::after {
	opacity: 1;
	-webkit-transform: translateX(0px);
	-moz-transform: translateX(0px);
	transform: translateX(0px);
}